*{
	margin: 0;
	padding: 0;
	

}

.navbar{
	height: 40px;
	overflow: hidden;
	background-color: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
	text-align: right;
}


.navbar a{
	font: verdana 20px;
	color: #508ef1;
	
}

.navbar a:hover{
	color:#0f2d5e;
	transition: 300ms;
}




body{
	background-color: #1E4E78;
	font-family:Arial, Helvetica, sans-serif
}

.titulo{
	margin-top: 60px;
	font: verdana 20px;
	color: #508ef1;
	text-align: center;
	background-image: url("/ex08_navegar_menu/img/fundo_sem.png");
}

#conteudo{
	font: 14px;
	margin: 5%;

}

.clique{
	color: black;
	text-align: center;
}

#btn{
	border-radius: 5px;
	padding: 10px;
	border: solid black 2px;
	margin-top: 20px;
	align-items: center;
}

button{
	text-align: center;
}

.sub{
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}

#img_logo{
	width: 40px;
	height: 40px;
	align-items: start;
}

#video{
	text-align: center;
	margin-bottom: 20px;
}

.rodape{
	font: 12px sans-serif;
	color: #542d6b;
	text-align: center;
	background-color: #ba80f0;
	padding: 40px;

}

.btn-center {
  text-align: center;
}