body{
	background-image: url(/ex04_estilos/img/background.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.title_page{
	
	text-align: center;
	font-size: 120px;
	font-family: 'Amatic SC', cursive;
	font-family: 'Righteous', cursive;
	padding: 2%;
}


section{
	display: inline-block;
	padding: 2%; 
}

.bora{
	font-family: 'Amatic SC', cursive;
	font-family: 'Righteous', cursive;
	font-family: 'Zeyada', cursive;
	font-size: 80px;
	margin: 8px;
	font-weight: bold;
	text-align: center;

}

#container1{
	width: 30%;
	height: 20%;
	background-color: rgba(116, 180, 180, 0.9);
	font-size: 1.5rem;
	margin: 0 20% 30% 12%;
	text-align: justify;
	border-radius: 30px;	
}


#container2{
	width: 20%;
	height: 20%;
	background-color:  rgba(220, 222, 222, 0.9);
	border-radius: 10px;	
}

#container2 p{
	font-weight: bold;
	font-size: 16px;
	text-align: justify;
}

.form-group{
	width: 100%;
}

input#nome_completo.form-group{
	/*height: 10px;
	
}

