body{
	background: url(../img/back.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient();
}

.conteudo{
	width: 50%;
	height: 0%;
	background-color: green;
	float: left;
	color: #f0ffff;
	text-align: justify;
	
}

#title{
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	margin: 20% 0 0 5%;
	text-align: center;
}

#slogan{
	font-family: 'Just Another Hand', cursive;
	font-size: 35px;
	font-weight: 100;
	text-align: center;
	margin: 0 0 0 5%;
}

.imagem{
	background-color: yellow;
	width: 45%;
	float: right;
}

.imagem img{
	width: 700px;
}

